$text-grey: #CACACA;
$text-white: #FFFFFF;
$back-grey: #3C3B3D;
$orange: #F89202;
$black-fon: #08020D;

@font-face {
    font-weight: 400;
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-weight: 700;
    font-family: Roboto;
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    font-weight: 300;
    font-family: Roboto;
    src: url("../fonts/Roboto-Light.ttf");
}

body {
    font-family: Roboto-Regular, sans-serif;
    line-height: 1.5em;
    color: $text-white;
    background: $black-fon;
    margin: 0;
}
main {
    background: $black-fon;
}

h1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
}

@media (min-width : 1240px){
    h1 {
        font-size: 60px;
        line-height: 90px;
        font-weight: bold;
        text-transform: uppercase;
    }

    h2 {
        font-size: 38px;
        line-height: 57px;
        font-weight: bold;
        text-transform: uppercase;
    }
}