.back2 {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  padding: 62px 0 75px;
  grid-row-gap: 30px;

  & .foocol {

    & h2 {
      margin: 0;
    }

    & ul {
      list-style-type: none;
      padding: 0;

      & li {

        & a {
          font-size: 16px;
          line-height: 24px;
          text-decoration: none;
          color: $text-grey;
          cursor: pointer;
        }
      }
    }
  }
  & .foocol:nth-child(4) {
    & ul {
      display: grid;
      grid-template-columns: repeat(4, min-content);
      grid-column-gap: 24px;
      margin-bottom: 0;
    }
  }
}

.fooLine {
  background: $text-grey;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #CACACA;
  margin: 0;

}

.fotfot {
  padding: 40px 0 47px;

  & ul {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 16px;
    list-style-type: none;
    padding: 0;
    color: $text-grey;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
  }
}

@media (min-width : 1240px) {
  .back2 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, min-content);
    padding: 3rem 0;
    grid-row-gap: 40px;

    & h2 {
      font-size: 18px;
    }
  }

  .fotfot {

    & ul {
      grid-template-columns: repeat(5, min-content);
      grid-template-rows: min-content;
      grid-column-gap: 16px;
    }
  }
}