.doska {

  & h2 {
    text-align: center;
    margin-bottom: 46px;
  }

  & .price {
    display: grid;
    grid-template-rows: repeat(3, 619px);
    margin-bottom: 17px;
    grid-row-gap: 27px;

    & .pricing {
      background-position: center;
      background-size: cover;

      display: flex;
      flex-direction: column;
      align-items: center;

      padding: 0 1.5rem;
      border-radius: 1rem;
      //margin-bottom: 50px;

      & h3 {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        font-weight: normal;
        margin-bottom: 200px;
      }

      & .value {
        font-size: 64px;
        line-height: 64px;
        margin-bottom: 41px;
      }

      & .ru {
        font-size: 32px;
        line-height: 48px;
        vertical-align: top;
      }

      & .button {
        width: 100%;
        padding: 20px 0;
        border-radius: 5px;
        font-size: 16px;
        line-height: 24px;
        border: 1px solid $text-white;
        background: none;
        color: $text-white;
        text-transform: uppercase;
        cursor: pointer;
        margin-bottom: 64px;
      }

      .footer {
        text-align: center;
        font-size: 12.8px;
        line-height: 1.5em;
        margin-bottom: 64px;
      }
    }
    & .free {
      grid-row: span 1;
      margin-bottom: 23px;
      background-image: url(../images/subscribe_1.png);
    }
    & .standart {
      grid-row: span 1;
      margin-bottom: 23px;
      background-image: url(../images/subscribe_2.png);
    }
    & .premium {
      grid-row: span 1;
      margin-bottom: 23px;
      background-image: url(../images/subscribe_3.png);
    }
  }
  .footerdoska {
    text-align: center;
  }
}


@media (min-width : 1240px) {

  .doska {
    display: block;
    align-items: center;

    & h2 {
      margin-bottom: 45px;
    }

    & .price {
      grid-template-columns: repeat(3,1fr);
      grid-column-gap: 50px;
      grid-template-rows: 1fr;
      grid-row-gap: 0px;
      //display: flex;
      //justify-content: center;
      //flex-direction: row;
      margin-bottom: 17px;

      & .pricing {
        //flex-direction: column;
        //margin-right: 50px;

        &:last-child {
          //margin-right: 0;
        }

        & h3 {
          font-size: 24px;
          line-height: 36px;
        }
      }
    }
  }
}