.header {
  width: calc(100% - 40px);
  position: absolute;
  top: 25px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;

  & .logo {
    display: flex;
    align-items: center;

    & span {
      padding-left: 16px;
    }
  }

  & .menu {
    & ul {
      margin: 17px 0;
      width: fit-content;
      list-style-type: none;
      padding: 0;

      & li {
        display: list-item;
        line-height: 1.5em;

        & a {
          text-decoration: none;
          line-height: 0;
          color: $text-grey;
          cursor: pointer;

          &:hover {
            color: $text-white;
          }
        }
        & .firsta {
          color: $text-white;
        }
      }
    }
  }

  & .search-head {
    & label {
      cursor: default;

      & input {
        border: none;
        background-color: $back-grey;
        border-radius: 50px;
        height: 25px;
        width: 100%;

        &::placeholder {
          font-size: 13.3px;
          text-transform: uppercase;
          padding-left: 10px;
          color: #757575;
        }
      }
    }
  }
}

@media (min-width: 1240px) {
  .header {
    display: flex;
    width: 1200px;
    align-items: center;

    & .logo {
      & span {
        margin-right: 90px;
      }
    }

    & .menu {
      display: inline-block;

      & ul {
        & li {
          display: inline-block;
          margin: 0 24px 0 0;
        }
      }
    }

    & .search-head {
      display: flex;
      margin-left: auto;
      width: 248px;

      & label {
        & input {
          width: 248px;
        }
      }
    }
  }
}
