@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-weight: 300;
  font-family: Roboto;
  src: url("../fonts/Roboto-Light.ttf");
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1.5em;
  color: $text-white;
  margin: 0;
  font-weight: 400;
  background-color: #08020d;
}


section {
  display: block;
}

main {
  display: block;
}

a, p, h1, h2, span {
  margin: 0;
}

h1 {
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width : 1240px){
  h1 {
    font-size: 60px;
    line-height: 90px;
    font-weight: bold;
    text-transform: uppercase;
  }

  h2 {
    font-size: 38px;
    line-height: 57px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

#page-pricing {
  display: block;
  padding-top: 100px;

}
@media (min-width : 1240px){
  #page-pricing {
    display: flex;
    justify-content: center;
  }
}

#page-news {
  display: block;
  padding-top: 100px;
  background-color: #08020d;
   }
@media (min-width : 1240px){
  #page-news {
    display: flex;
    justify-content: center;
     }
   }

#page-app {
  display: block;
  padding-top: 100px;
  margin-bottom: 100px;
  background-color: #08020d;


}
@media (min-width : 1240px){
  #page-app {
    display: flex;
    justify-content: center;
  }
}
#page-footer {
  display: block;
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);

}
@media (min-width : 1240px){
  #page-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

  }
}


